<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">PREcare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 

   <div class="collapse navbar-collapse float-right">
     <ul class="navbar-nav mr-auto nav-link-right">
       <li class="nav-item active">
         <a class="nav-link" href="#" onclick="document.getElementById('id01').style.display='block'">Login</a>
       </li> 
       <li class="nav-item active">
         <a class="nav-link" href="#">Register</a>
       </li> 
     </ul> 
   </div>

</nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Welcome to myprecare.com</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main>

<!-- <app-signup></app-signup> -->
<app-login></app-login>