/*header section css start*/
.header {
    width: 100%;
    /*background: url(../../image/topbar.jpg) center no-repeat;*/
    height: 80px;
    float: left;
    /*background-size: cover;*/
    background-color: #4b4f47;
    padding-top: 10px;
}

    .header .header_left_port {
        width: 100%;
        float: left;
        height: 50px;
    }

.header_left_port .bcg_logo {
    /* background: url(../../image/bcg_logo.png) no-repeat; */
    width: 69px;
    height: 39px;
    margin-left: 1%;
    margin-top: 5px;
    float: left;
}

.header_left_port .mid_space {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
    font-size: 29px;
}

.header_left_port .head_cont {
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    /* margin-right: 5px; */
    float: left;
    /* margin-top: 11px; */
    font-size: 25px;
    /* line-height: 36px; */
    padding-top: 8px;
}

.app_lab {
    color: #fff;
    display: block;
    margin-top: 12px;
    margin-right: 30px;
    /* margin-left: 2px; */
    cursor: pointer;
    /* background: url('../../image/applabs-smalllogo.png') no-repeat; */
    width: 82px;
    height: 29px;
    float: right;
}

.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}
.search-control {
    padding: 5px 10px;
}

.seperator {
    color: #fff;
    display: block;
    margin-top: 12px;
    margin-right: 15px;
    /* margin-left: 2px; */
    cursor: pointer;
    /* background: url(../../image/pipe.png) no-repeat; */
    width: 1px;
    height: 29px;
    float: right;
}

.btn-calendar {
    /* background-image: url('../../image/calendar.png') !important; */
    background-repeat: no-repeat;
    background-position: 94%;
    cursor: pointer;
}

.bcg_logo_right {
    color: #fff;
    display: block;
    /* background: url(../../image/bcg_logo_right.png) no-repeat; */
    width: 60px;
    height: 44px;
    float: right;
    background-position: 5px 18px;
    margin-left: 20px;
}

.mail_lnk {
    float: right;
    display: inline-block;
    margin-top: 12px;
    cursor: pointer;
    /* background: url(../../Content/icon_sprite.png) -15px -506px no-repeat; */
    /* background: url(../../image/new_mail.png) no-repeat; */
    /*width: 88px;*/
    height: 28px;
    line-height: 40px;
    font-size: 11px;
    padding-left: 22px;
    background-position: 0px 16px;
    background-size: 14%;
}

.help_lnk {
    float: right;
    display: inline-block;
    padding-top: 21px;
    cursor: pointer;
    width: 70px;
    height: 28px;
    /* line-height: 40px; */
    font-size: 11px;
}


.help_icon {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
    color: white;
    display: inline-block;
}

.help_txt {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

.mail_lnk a, .help_lnk a {
    color: #91e8b4;
    font-family: henderson-bold;
}

.diff {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    width: 97%;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

body {
    padding-bottom: 30px;
    position: relative;
    /*background-image: url(../../image/BG-Reduce.jpg);*/
    background-size: cover;
}


/*header section css end*/